@import "packages/bourbon/bourbon"
@import "packages/neat/neat"

section
  +outer-container
  padding: 5px 10px 10px

ul
  list-style: none
  padding-left: 0px
  margin: 0px

.button
  padding: 10px 20px
  margin: 0px auto
  background: RGBA(0,0,0,0.2)
  border: none
  text-align: center
  font-size: 16px
  .details
    display: block
    font-size: 10px
    font-style: italic
    opacity: 0.6

body
  font-family: "Gotham HTF"
  font-weight: 700
  color: #ffffff
  font-size: 18px
  -webkit-font-smoothing: antialiased
  background-color: #232238

#app-wrapper
  background: #BE5EFF
  width: 320px
  margin: 50px auto

#header
  .totals
    +clearfix
  .yosTotal
    +span-columns(6)
  .cashTotal
    +span-columns(6)
    +omega
    text-align: right;

  .base-actions
    clear: both
    margin-top: 10px
    li
      +span-columns(6)
      .button
        width: 100%
        display: block

#upgrades
  background: #465592
  li
    margin-top: 6px
    +clearfix
  .details
    display: block
    font-size: 10px
    opacity: 0.6
    font-style: italic
  .text
    float: left
  .button
    float: right
    padding: 5px 10px

#yoGen, #cashGen
  background: #7389FF
  li
    +clearfix
    margin-top: 6px
  .text
    float: left
  .owned, .details
    font-size: 10px
    opacity: 0.6
    font-style: italic
  .details
    display: block
  .button
    float: right
    padding: 6px 10px
    margin-top: 2px

#cashGen
  background: #35B18E


